<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">imie:</label>
    <input id="name" formControlName="name" />
    <div
      *ngIf="playerForm.get('name')?.invalid && playerForm.get('name')?.touched"
    >
      imie na min 5 znakow
    </div>
  </div>

  <div>
    <label for="authCode">aut kod:</label>
    <input id="authCode" formControlName="authCode" type="password" />
    <div
      *ngIf="
        playerForm.get('authCode')?.invalid &&
        playerForm.get('authCode')?.touched
      "
    >
      kodzik tez 5 znakow
    </div>
  </div>

  <div>
    <label for="color">kolor:</label>
    <select id="color" formControlName="color" (change)="onColorChange($event)">
      <option value="normal">normalny</option>
      <option value="high-contrast">super kontrast</option>
    </select>
  </div>

  <button type="submit">wejdz</button>
</form>

<div id="someElement">
 tu zmienia sie kolorek
</div>
